@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --h-height: 51px;
  --f-height: 117px;
}
@media (max-width: 991.98px) {
  :root {
    --f-height: 50px;
  }
}

/* mixins */
/* Typography */
a,
a:hover,
a:focus,
a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span,
a,
button,
form,
fieldset,
legend,
select,
input,
textarea,
button,
div,
blockquote,
cite,
figure,
figcaption,
table,
ul,
ol,
dl,
li,
address {
  line-height: normal;
  margin-bottom: 0px;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1em;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 1.35em;
  }
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1em;
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 1.8em;
  }
}
@media (max-width: 575.98px) {
  h2 {
    font-size: 1.4em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1em;
}
@media (max-width: 575.98px) {
  h3 {
    font-size: 1.4em;
  }
}

h4 {
  font-size: 1.1em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0.5em;
}

.fs-07 {
  font-size: 0.7em;
}
.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-22 {
  font-size: 2.2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.deepblue {
  color: #0077FF;
}

/* Form elements */
input,
textarea {
  background-color: #F4F6F8;
  border: 1px solid #F4F6F8;
  border-radius: 0.5em;
  padding: 0.7em 1.2em;
  width: 100%;
  outline: none;
  display: block;
  transition: border-color 300ms ease-in;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #c2c2c2;
  font-weight: 300;
}
input::placeholder,
textarea::placeholder {
  color: #c2c2c2;
  font-weight: 300;
}
input:hover, input:focus, input:active,
textarea:hover,
textarea:focus,
textarea:active {
  border: 1px solid #c2c2c2;
}

input[type=checkbox] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  width: 1em;
  height: 1em;
  border: 2px solid #c2c2c2;
  background-color: #fff;
  background-image: url(imgs/icons/checkWhite.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 125% 125%;
  border-radius: 5px;
  box-shadow: none;
  transition: border-color 300ms ease-in, background-color 300ms ease-in;
}
input[type=checkbox]:checked {
  background-color: #E31F0F;
  border-color: #E31F0F;
}
input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  width: 1em;
  height: 1em;
  border: 2px solid #c2c2c2;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: none;
  transition: border-color 300ms ease-in;
  position: relative;
}
input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #E31F0F;
  transition: opacity 300ms ease-in;
  opacity: 0;
}
input[type=radio]:checked {
  border-color: #E31F0F;
}
input[type=radio]:checked::before {
  opacity: 1;
}
input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  margin: 0;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label span {
  flex: 1;
}

.variant {
  --var-img: 380px;
  position: relative;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .variant {
    --var-img: 180px;
  }
}
@media (max-width: 575.98px) {
  .variant {
    font-size: 0.85em;
  }
}
.variant figure {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 1em;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
  filter: brightness(1) hue-rotate(0deg);
  transition: filter 300ms ease-in;
}
.variant figure img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--var-img);
  -o-object-fit: cover;
     object-fit: cover;
}
.variant figure figcaption {
  position: absolute;
  z-index: 10;
  left: 0px;
  bottom: 1em;
  width: 100%;
  text-align: center;
  color: #242424;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2em;
  height: 2.4em;
}
.variant input {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.variant input:checked + figure {
  filter: brightness(1.1) hue-rotate(-40deg);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  border: none;
  background-image: url(imgs/icons/chevronDown.svg);
  background-repeat: no-repeat;
  padding-right: 1em;
  background-position: right center;
  background-size: 0.75em;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-gray, .btn-light, .btn-info, .btn-secondary, .btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0em 1.25em;
  text-align: center;
  transition: 300ms ease-in;
  transition-property: color, background-color, border;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5em;
  font-weight: 600;
  height: 2.5rem;
}
.btn-primary {
  color: #fff;
  background-color: #0077FF;
  border: 1px solid #0077FF;
}
.btn-secondary {
  color: #0077FF;
  background-color: #fff;
  border: 1px solid #0077FF;
}
.btn-info {
  color: #242424;
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-light {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-gray {
  color: rgba(145, 158, 171, 0.8);
  background-color: rgba(145, 158, 171, 0.24);
  border: none;
  font-weight: 700;
}

.hmax {
  height: 3rem;
}

.input-labeled {
  position: relative;
  padding-top: 0.5em;
}
.input-labeled input,
.input-labeled textarea {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #eceded;
}
.input-labeled span {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 1em;
  font-size: 0.9em;
  line-height: 1em;
  color: #637381;
  background-color: #fff;
  padding: 0px 0.25em;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1300px) {
  .container.wide {
    max-width: 1240px;
  }
}

.mb-6 {
  margin-bottom: 6em;
}
@media (max-width: 991.98px) {
  .mb-6 {
    margin-bottom: 4.5em;
  }
}
@media (max-width: 575.98px) {
  .mb-6 {
    margin-bottom: 3em;
  }
}

@media (max-width: 575.98px) {
  .w-xs-100 {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0.625em 0px 1.25em;
  font-family: "Open Sans", "Arial", "Tahoma", "Verdana";
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  overflow-x: hidden;
}
@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  body {
    padding: 0.625em 0px 0px;
  }
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
  margin-bottom: 0.625em;
}
header .box {
  width: 100%;
  background-color: #4CA5F8;
  color: #fff;
  height: var(--h-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0em 1.8em !important;
  border-radius: 1em;
}
header .logo {
  max-width: 125px;
  max-height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
  margin-top: 0.25em;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header nav ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header nav ul li:not(:first-child) {
  margin-left: 3em;
}
@media (max-width: 1199.98px) {
  header nav ul li:not(:first-child) {
    margin-left: 1.5em;
  }
}
header nav ul li a {
  font-size: 1em;
  font-weight: 600;
}
header nav .phone {
  font-size: 1.25em;
  font-weight: 600;
  margin-left: 3.5em;
}

@media (max-width: 991.98px) {
  .mobile-menu {
    padding: 1em;
  }
}
.mobile-menu ul {
  list-style: none;
  padding-left: 0px;
}
.mobile-menu ul li:not(:first-child) {
  margin-top: 1em;
}
@media (max-width: 991.98px) {
  .mobile-menu ul li:not(:first-child) {
    margin-top: 0.25em;
  }
}
.mobile-menu ul li a {
  font-size: 1em;
  font-weight: 600;
}
@media (max-width: 991.98px) {
  .mobile-menu ul li a {
    display: block;
    text-align: center;
    padding: 0.75em;
    background-color: #F4F9FF;
  }
}
.mobile-menu .phone {
  display: block;
  margin-top: 2em;
  font-size: 1.25em;
  font-weight: 600;
}
@media (max-width: 991.98px) {
  .mobile-menu .phone {
    text-align: center;
    color: #0077FF;
  }
}

main {
  min-height: calc(100vh - 1.875em - var(--h-height) - var(--f-height));
}

/* Section 1 */
.sec-1 {
  background-color: #4CA5F8;
  background-image: url(../assets/imgs/bg/bg1img.jpg), url(../assets/imgs/bg/bg1.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%, cover;
  background-position: right center, 50% 50%;
  border-radius: 1em;
  color: #fff;
  padding: 9% 6%;
}
@media (max-width: 1299px) {
  .sec-1 {
    padding: 5% 3%;
  }
}
@media (max-width: 1199.98px) {
  .sec-1 {
    padding: 2em;
  }
}
@media (max-width: 991.98px) {
  .sec-1 {
    background-image: url(../assets/imgs/bg/bg1.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
}
@media (max-width: 575.98px) {
  .sec-1 {
    padding: 1em;
  }
}

/* Section 2 */
.sec-2 .pros, .sec-2 .pros-3, .sec-2 .pros-2, .sec-2 .pros-1 {
  --height: 380px;
  border-radius: 1em;
  padding: 1.875em;
  height: var(--height);
}
@media (max-width: 1199.98px) {
  .sec-2 .pros, .sec-2 .pros-3, .sec-2 .pros-2, .sec-2 .pros-1 {
    --height: 350px;
  }
}
@media (max-width: 991.98px) {
  .sec-2 .pros, .sec-2 .pros-3, .sec-2 .pros-2, .sec-2 .pros-1 {
    --height: 300px;
    padding: 1em;
    font-size: 0.9em;
  }
}
@media (max-width: 767.98px) {
  .sec-2 .pros, .sec-2 .pros-3, .sec-2 .pros-2, .sec-2 .pros-1 {
    font-size: 1.2em;
    --height: 380px;
  }
}
@media (max-width: 575.98px) {
  .sec-2 .pros, .sec-2 .pros-3, .sec-2 .pros-2, .sec-2 .pros-1 {
    font-size: 1em;
  }
}
.sec-2 .pros-1 {
  background-color: #F4F6F8;
  background-image: url(imgs/bg/smartphone.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.sec-2 .pros-2 {
  background-color: #fff;
  border: 1px solid #4CA5F8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media (max-width: 767.98px) {
  .sec-2 .pros-2 {
    height: auto;
  }
}
.sec-2 .pros-2 h4 {
  line-height: 1.3em;
  min-height: 3.9em;
}
@media (max-width: 767.98px) {
  .sec-2 .pros-2 h4 {
    min-height: unset;
    margin-top: 1em;
  }
}
.sec-2 .pros-2 img {
  max-width: 70%;
}
.sec-2 .pros-3 {
  background-color: #fff;
  /* очень эффектная тень */
  box-shadow: -10px 30px 40px 0px rgba(145, 158, 171, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media (max-width: 767.98px) {
  .sec-2 .pros-3 {
    height: auto;
  }
}
.sec-2 .pros-3 h4 {
  line-height: 1.3em;
  min-height: 3.9em;
}
@media (max-width: 767.98px) {
  .sec-2 .pros-3 h4 {
    min-height: unset;
    margin-top: 1em;
  }
}
.sec-2 .pros-3 img {
  max-width: 70%;
}

/* Section 3 */
.sec-3 figure {
  padding: 1em 0.6em;
  border-radius: 1em;
  box-shadow: none;
  transition: box-shadow 300ms ease-in;
  height: 100%;
}
.sec-3 figure:hover {
  /* просто тень */
  box-shadow: 0px 15px 40px 0px rgba(145, 158, 171, 0.1);
  cursor: pointer;
}
.sec-3 figure img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
@media (max-width: 575.98px) {
  .sec-3 figure img {
    height: 50vw;
  }
}
.sec-3 figure figcaption {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 1em;
}
@media (max-width: 575.98px) {
  .sec-3 figure figcaption {
    font-size: 1em;
  }
}

/* Section 4 */
.top {
  background-color: #4CA5F8;
  padding: 0.8em 1.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  color: #fff;
  border-radius: 1em;
}
@media (max-width: 575.98px) {
  .top {
    padding: 0.8em 1.2em;
  }
}

.offer {
  border: 1px solid #4CA5F8;
  border-radius: 1em;
  padding: 1.25em 2em 2em 1.25em;
  position: relative;
  height: 100%;
}
.offer-hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #4CA5F8;
  color: #fff;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-left: auto;
  position: absolute;
  bottom: 0.65em;
  right: 0.65em;
}
.offer-hover svg {
  font-size: 1.5em;
}
.offer-img {
  position: absolute;
  z-index: 100;
  top: 95%;
  right: 0%;
  width: 420px;
  height: 275px;
  border: 2px solid #CCE4FF;
  border-radius: 10px;
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
@media (max-width: 991.98px) {
  .offer-img {
    width: 350px;
    height: 230px;
  }
}
@media (max-width: 767.98px) {
  .offer-img {
    width: 500px;
    height: 330px;
  }
}
@media (max-width: 575.98px) {
  .offer-img {
    width: 100%;
    height: 55vw;
  }
}

/* Section 5 */
.sec-5 {
  background: url(../assets/imgs/bg/bg1.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 8%;
  border-radius: 1em;
  position: relative;
}
@media (max-width: 1199.98px) {
  .sec-5 {
    padding: 3em;
  }
}
@media (max-width: 575.98px) {
  .sec-5 {
    padding: 1.5em;
  }
}
.sec-5-img {
  position: absolute;
  z-index: 10;
  top: 52%;
  right: 2%;
  transform: rotate(8deg) translateY(-50%);
  transform-origin: 50% 50%;
  width: 40%;
}
@media (max-width: 1199.98px) {
  .sec-5-img {
    right: 0%;
  }
}
@media (max-width: 991.98px) {
  .sec-5-img {
    position: relative;
    top: unset;
    right: unset;
    transform: rotate(8deg) translateY(0%);
    margin-top: 2em;
    width: 70%;
  }
}
@media (max-width: 575.98px) {
  .sec-5-img {
    width: 100%;
    transform: rotate(8deg) translateY(0%) translateX(1em);
  }
}
.sec-5-img::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  width: 93%;
  height: 95%;
  background-color: #11497A;
  filter: blur(20px) opacity(0.5);
  transform: rotate(-2deg);
}
.sec-5-img img {
  /* очень эффектная тень */
  box-shadow: -10px 30px 40px 0px rgba(145, 158, 171, 0.1);
  width: 100%;
  position: relative;
  z-index: 10;
}
.sec-5 h2 {
  font-weight: 600;
  text-align: left;
}
.sec-5 h2 span {
  background-color: #E31F0F;
  font-size: 0.67em;
  font-weight: 400;
  padding: 0.15em 1em;
  border-radius: 1em;
}

.quiz {
  padding: 1em;
  min-height: 460px;
}
@media (max-width: 991.98px) {
  .quiz {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
@media (max-width: 575.98px) {
  .quiz {
    padding: 0em;
  }
}
.quiz-img {
  height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
  filter: contrast(70%) brightness(1.25);
}
.quiz-page {
  font-size: 3.75em;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 0px #0077FF, 0px 1px 0px #0077FF, 1px 0px 0px #0077FF, 0px 0px 0px #0077FF, -1px -1px 0px #0077FF, 0px -1px 0px #0077FF, -1px 0px 0px #0077FF;
}
@media (max-width: 767.98px) {
  .quiz-page {
    font-size: 2.75em;
  }
}
@media (max-width: 575.98px) {
  .quiz-page {
    font-size: 1.75em;
  }
}
.quiz .photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1em;
}
.quiz fieldset legend {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2em;
  float: unset;
  display: block;
  margin-bottom: 1em;
  line-height: 1.5em;
  min-height: 1.5em;
}
@media (max-width: 991.98px) {
  .quiz fieldset legend {
    min-height: unset;
  }
  .quiz fieldset legend:empty {
    display: none;
  }
}
.quiz blockquote {
  border: 1px solid rgba(0, 119, 255, 0.1);
  padding: 0.65em;
  border-radius: 1em;
  margin-top: 1.5em;
  position: relative;
}
.quiz blockquote::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 1.25em;
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-bottom: 0.75em solid #fff;
  filter: drop-shadow(0px -1px 0px rgba(0, 119, 255, 0.15));
}
.quiz blockquote p {
  font-size: 0.9em;
}
.quiz ul {
  list-style: none;
  padding-left: 0px;
}
.quiz ul li {
  background-color: #F4F6F8;
  padding: 0.6em 1.2em;
  border-radius: 0.65em;
}
.quiz ul li:not(:last-child) {
  margin-bottom: 0.9em;
}
.quiz ul li input[type=text] {
  padding: 0px;
  border: none;
  background-color: transparent;
}
.quiz .btn-gray {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0px;
  border-radius: 50%;
  font-size: 1.3em;
}
.quiz .btn-primary {
  height: 2.25rem;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 1.5em;
}
.quiz .variant.logo {
  --var-img: 151px;
}
@media (max-width: 1199.98px) {
  .quiz .variant.logo {
    --var-img: 130px;
  }
}
@media (max-width: 575.98px) {
  .quiz .variant.logo {
    --var-img: 25vw;
  }
}
.quiz .variant.logo figure {
  background-image: url(imgs/bg/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
.quiz .variant.logo figure figcaption {
  bottom: 0.75em;
  height: unset;
  color: #fff;
}
.quiz .btn-return {
  background-color: #eceded;
  color: #637381;
  height: 2.25rem;
  width: 2.25rem;
  font-size: 0.9em;
  font-weight: 400;
  border-radius: 50%;
  transition: color 300ms ease-in, background-color 300ms ease-in;
}
.quiz .btn-return svg {
  font-size: 1.4em;
  color: inherit;
}
.quiz .btn-return:hover, .quiz .btn-return:focus, .quiz .btn-return:active {
  background-color: #CCE4FF;
  color: #0077FF;
}
.quiz .big-img {
  width: 100%;
  height: 325px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}

/* Section 6 */
.grayBlock, .grayBlock-5, .grayBlock-4, .grayBlock-3, .grayBlock-2, .grayBlock-1 {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  background-color: #F4F6F8;
  padding: 1.25em;
}
@media (max-width: 1199.98px) {
  .grayBlock, .grayBlock-5, .grayBlock-4, .grayBlock-3, .grayBlock-2, .grayBlock-1 {
    padding: 1em;
  }
}
.grayBlock-1 {
  background-image: url(../assets/imgs/bg/woman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  position: relative;
}
@media (max-width: 991.98px) {
  .grayBlock-1 {
    padding-bottom: 23em;
  }
}
@media (max-width: 575.98px) {
  .grayBlock-1 {
    padding-bottom: 65%;
  }
}
@media (max-width: 400px) {
  .grayBlock-1 {
    padding-bottom: 70%;
  }
}
.grayBlock-1 .btnPulse {
  position: absolute;
  z-index: 10;
  bottom: 14em;
  left: 63%;
  transform: translateX(-50%);
}
@media (max-width: 1199.98px) {
  .grayBlock-1 .btnPulse {
    bottom: 12em;
  }
}
@media (max-width: 991.98px) {
  .grayBlock-1 .btnPulse {
    left: 40%;
    bottom: 12em;
  }
}
@media (max-width: 767.98px) {
  .grayBlock-1 .btnPulse {
    left: 49%;
  }
}
@media (max-width: 575.98px) {
  .grayBlock-1 .btnPulse {
    left: 51%;
    bottom: 37%;
    width: 25%;
    height: auto;
  }
}
@media (max-width: 400px) {
  .grayBlock-1 .btnPulse {
    left: 63%;
    bottom: 40%;
  }
}
.grayBlock-2 {
  background-image: url(../assets/imgs/bg/arrow1.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 40%;
}
@media (max-width: 575.98px) {
  .grayBlock-2 {
    background-image: none;
  }
}
.grayBlock-3 {
  background-image: url(../assets/imgs/bg/arrow2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 25%;
}
@media (max-width: 575.98px) {
  .grayBlock-3 {
    background-image: none;
  }
}
.grayBlock-4 {
  background-image: url(../assets/imgs/bg/arrow4.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 30%;
}
@media (max-width: 575.98px) {
  .grayBlock-4 {
    background-image: none;
  }
}
.grayBlock-5 {
  background-image: url(../assets/imgs/bg/arrow3.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 42%;
}
@media (max-width: 575.98px) {
  .grayBlock-5 {
    background-image: none;
  }
}
.grayBlock p, .grayBlock-1 p, .grayBlock-2 p, .grayBlock-3 p, .grayBlock-4 p, .grayBlock-5 p {
  font-size: 1em;
}
@media (max-width: 1199.98px) {
  .grayBlock p, .grayBlock-1 p, .grayBlock-2 p, .grayBlock-3 p, .grayBlock-4 p, .grayBlock-5 p {
    font-size: 0.9em;
  }
}

/* Section 9 */
.sec-9 {
  --height: 690px;
}
@media (max-width: 1199.98px) {
  .sec-9 {
    --height: 580px;
  }
}
@media (max-width: 991.98px) {
  .sec-9 {
    --height: 460px;
  }
}
@media (max-width: 767.98px) {
  .sec-9 {
    --height: 600px;
  }
}
.sec-9 .img {
  position: relative;
}
.sec-9 .img-main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--height);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.sec-9 .img-popup {
  position: absolute;
  z-index: 10;
  right: 8%;
  bottom: 10%;
  width: 68%;
  filter: drop-shadow(-10px 16px 40px rgba(0, 0, 0, 0.15));
  transform: rotate(7deg);
  opacity: 0;
  transition: opacity 300ms ease-in 0.5s;
}
.sec-9 .img-popup[data-observing=true] {
  opacity: 1;
}
.sec-9 .img2 {
  position: relative;
}
.sec-9 .img2-main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--height);
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 1em;
}
.sec-9 .img2-popup {
  position: absolute;
  z-index: 10;
  right: 8%;
  bottom: 27%;
  width: 85%;
  filter: drop-shadow(-10px 16px 40px rgba(0, 0, 0, 0.15));
  opacity: 0;
  transition: opacity 300ms ease-in 0.5s;
}
.sec-9 .img2-popup[data-observing=true] {
  opacity: 1;
}
.sec-9 .img3 {
  position: relative;
}
.sec-9 .img3-main {
  position: relative;
  z-index: 1;
  width: 100%;
  height: var(--height);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.sec-9 .img3-popup {
  position: absolute;
  z-index: 10;
  left: 8%;
  top: 10%;
  width: 68%;
  filter: drop-shadow(-10px 16px 40px rgba(0, 0, 0, 0.15));
  opacity: 0;
  transition: opacity 300ms ease-in 0.5s;
}
.sec-9 .img3-popup[data-observing=true] {
  opacity: 1;
}
.sec-9 .textBox {
  background-color: #F4F6F8;
  border-radius: 1em;
  height: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 991.98px) {
  .sec-9 .textBox {
    padding: 1.5em;
  }
}
.sec-9 .textBox img {
  max-width: 150px;
  margin-bottom: 3em;
}

.swiperFade .swiper-slide {
  opacity: 0 !important;
}
.swiperFade .swiper-slide-active {
  opacity: 1 !important;
}

/* Section 10 */
.sec-10 img {
  /* очень эффектная тень */
  box-shadow: -10px 30px 40px 0px rgba(145, 158, 171, 0.1);
  border-radius: 1em;
  display: block;
  margin: 3em auto 0em;
}

/* Section 11 */
.grid-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px 215px 120px;
  gap: 15px 30px;
  grid-template-areas: "info1 info3 info4" "info2 info3 info4" "info2 info3 info5";
}
@media (max-width: 1199.98px) {
  .grid-info {
    gap: 15px 20px;
    grid-template-rows: 370px 140px 165px;
  }
}
@media (max-width: 991.98px) {
  .grid-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 370px 570px 120px;
    grid-template-areas: "info1 info2" "info3 info4" "info3 info5";
  }
}
@media (max-width: 767.98px) {
  .grid-info {
    grid-template-rows: 315px 380px 140px;
  }
}
@media (max-width: 575.98px) {
  .grid-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info1" "info2" "info3" "info4" "info5";
  }
}
.grid-info > div {
  background-color: #F4F9FF;
  padding: 1.25em;
  border-radius: 1em;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  isolation: isolate;
  transform: translateZ(0);
}
.grid-info .info1 {
  grid-area: info1;
}
.grid-info .info1 .logotip {
  background-color: #fff;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 95px;
}
@media (max-width: 1199.98px) {
  .grid-info .info1 .logotip {
    height: 80px;
  }
}
@media (max-width: 767.98px) {
  .grid-info .info1 .logotip {
    height: 65px;
  }
}
@media (max-width: 575.98px) {
  .grid-info .info1 .logotip {
    height: 23vw;
  }
}
.grid-info .info1 .logotip img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.grid-info .info2 {
  grid-area: info2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-bottom: 0px;
}
.grid-info .info2 img {
  max-width: 85%;
}
@media (max-width: 767.98px) {
  .grid-info .info2 img {
    max-width: 95%;
  }
}
@media (max-width: 575.98px) {
  .grid-info .info2 img {
    margin-top: 1em;
  }
}
.grid-info .info3 {
  grid-area: info3;
}
.grid-info .info3 img {
  display: block;
  max-width: 88%;
}
.grid-info .info4 {
  grid-area: info4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-bottom: 0px;
  padding-right: 0px;
}
.grid-info .info4 img {
  max-width: 90%;
}
@media (max-width: 767.98px) {
  .grid-info .info4 img {
    max-width: 70%;
  }
}
@media (max-width: 575.98px) {
  .grid-info .info4 img {
    max-width: 90%;
    margin-top: 1em;
  }
}
.grid-info .info5 {
  grid-area: info5;
}

/* Section 12 */
.sec-12 {
  background-color: #F4F9FF;
  padding: 3em 0em;
}
.sec-12 .swiperTarif .swiper-wrapper {
  align-items: stretch;
}
.sec-12 .swiperTarif .swiper-wrapper .swiper-slide {
  height: auto;
}
@media (max-width: 991.98px) {
  .sec-12 .swiperTarif .swiper-wrapper .swiper-slide {
    width: 280px;
  }
}
@media (max-width: 767.98px) {
  .sec-12 .swiperTarif .swiper-wrapper .swiper-slide {
    width: 260px;
  }
}
.sec-12 .box {
  background-color: #fff;
  padding: 1.8em;
  border-radius: 1em;
  border: 1px solid rgba(145, 158, 171, 0.24);
}
@media (max-width: 1199.98px) {
  .sec-12 .box {
    padding: 1em;
  }
}
.sec-12 ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 1.25em;
}
.sec-12 ul li {
  position: relative;
  padding-left: 1em;
  background: url(imgs/icons/checkmark.svg) no-repeat;
  background-position: 0% 0.1em;
  background-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}
.sec-12 ul li:not(:last-child) {
  margin-bottom: 0.75em;
}
.sec-12 ul li::before {
  content: "";
  position: absolute;
  top: 0.85em;
  left: 1.5em;
  width: calc(100% - 1.5em);
  height: 1px;
  background-color: rgba(223, 226, 229, 0.6);
}
.sec-12 ul li span {
  font-size: 0.85em;
  padding: 0 5px;
  position: relative;
  z-index: 10;
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .sec-12 ul li span {
    font-size: 1em;
  }
}
.sec-12 ul li span:last-child {
  margin-left: 1em;
}

/* Section 13 */
.sec-13 .diagram {
  position: relative;
}
.sec-13 .diagram img {
  position: relative;
  z-index: 1;
  width: 100%;
}
.sec-13 .diagram .text {
  position: absolute;
  top: 1.875em;
  bottom: 4.25em;
  right: 1.875em;
  z-index: 10;
  width: 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.sec-13 .diagram .text p {
  font-size: 0.9em;
}
.sec-13 .diagram .text button {
  width: 100%;
  margin-top: 1em;
}

/* Section 14 */
.sec-14 .swiper {
  transition: 300ms ease-in;
}
@media (max-width: 767.98px) {
  .sec-14 .swiper-slide {
    width: 120px;
  }
}
.sec-14 .company .imgLogo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.sec-14 .company .imgCover {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 1em;
}
@media (max-width: 767.98px) {
  .sec-14 .company .imgCover {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .sec-14 .company h3 {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .sec-14 .company .btn-secondary {
    display: none;
  }
}

.lang-switcher {
  position: relative;
  width: 5em;
}
.lang-switcher > button {
  background-color: #4CA5F8;
  color: #fff;
  width: 100%;
  font-size: 1.25em;
  padding: 0.3em 0.6em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: border-radius 0.1s linear;
}
.lang-switcher > button svg {
  margin-left: 0.5em;
}
.lang-switcher ul {
  list-style: none;
  padding-left: 0px;
  background-color: #4CA5F8;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 0 0 1em 1em;
}
.lang-switcher ul li {
  width: 100%;
  margin: 0px !important;
}
.lang-switcher ul li button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.3em 0.6em;
  font-size: 1.25em !important;
  width: 100%;
}
.lang-switcher ul li button img {
  width: 0.75em;
  height: 0.75em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.lang-switcher.opened > button {
  border-radius: 1em 1em 0 0;
}

footer {
  height: var(--f-height);
}
footer.desktop .box {
  height: 100%;
  background-color: #4CA5F8;
  border-radius: 1em;
  color: #fff;
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
footer.mobile {
  position: sticky;
  z-index: 100;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: transparent;
}
footer.mobile button {
  width: 100%;
  font-size: 1rem;
  flex-grow: 1;
}

.modal-content {
  border: none;
  border-radius: 1em;
  background-color: #fff;
}
.modal-body {
  position: relative;
  padding: 1.25em;
}

.modalCallback .modal-xl {
  --bs-modal-width: 900px;
}
@media (max-width: 991.98px) {
  .modalCallback .modal-xl {
    --bs-modal-width: 700px;
  }
}
@media (max-width: 767.98px) {
  .modalCallback .modal-xl {
    --bs-modal-width: 500px;
  }
}

.close {
  position: absolute;
  top: 0.15em;
  right: 0.15em;
  font-size: 1.25em;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 991.98px) {
  .close {
    font-size: 1.75em;
  }
}/*# sourceMappingURL=style.css.map */